<md-content layout="row" layout-fill>
    <md-whiteframe layout="column" flex="40" flex-gt-sm="30" style="padding: 0 15px;">
        <search-box search-box-position="left"
                    search-box-ng-model="view.search.filter"
                    search-box-on-change="$ctrl.searchRecords(term)">
        </search-box>
        <div style="position:relative; height: 100%; overflow: scroll" class="stops-list">
            <div style="position: absolute; width:100%">
                <md-list infinite-scroll="$ctrl.nextRecords(view.search.filter)"
                         infinite-scroll-disabled='$ctrl.isLastPage' infinite-scroll-container="'.stops-list'">

                    <md-list-item class="md-2-line" ng-repeat="record in $ctrl.records track by $index" ng-class="{'stop-item-highlighted': record.id === $ctrl.highlightedStationId}">
                        <div class="md-list-item-text">
                            <resource-item item-title="record.name"
                                           item-labels-class="'label-danger'"
                                           item-labels="record.vehicleType">
                            </resource-item>

                            <md-icon class="md-secondary" ng-click="$ctrl.editRecord(record)"
                                     md-font-library="material-icons">create
                            </md-icon>
                            <md-icon class="md-secondary" ng-click="$ctrl.deleteRecord(record.id)"
                                     md-font-library="material-icons">delete
                            </md-icon>
                        </div>
                    </md-list-item>
                    <div layout layout-align="center center">
                        <md-progress-circular ng-show="$ctrl.loading" class="md-accent"
                                              md-diameter="40"></md-progress-circular>
                    </div>
                </md-list>
                <div ng-show="!$ctrl.records.length && !$ctrl.loading" layout="column" layout-align="center center"
                     layout-margin="7">
                    <md-icon md-font-library="material-icons">cloud_off</md-icon>
                    <h3>{{'shared.data.empty' | translate}}</h3>
                </div>
                <div ng-show="$ctrl.isLastPage && $ctrl.records.length && !$ctrl.loading" layout="column"
                     layout-align="center center" layout-margin="7">
                    <md-icon md-font-library="material-icons">block</md-icon>
                    <h4>{{'shared.data.end' | translate}}</h4>
                </div>
            </div>
        </div>
    </md-whiteframe>
    <div flex="75">
        <map-locator markers="$ctrl.markers"
                     marker-clicked-callback="$ctrl.highlightStation(id)"
                     marker-move-callback="$ctrl.highlightStation(id)"
                     marker-moved-callback="$ctrl.moveStation(id, location)"
                     map-clicked-callback="$ctrl.unHighlightStation()"
                     action-title="{{'stops.create_here' | translate}}"
                     action-callback="$ctrl.createRecord(location)"></map-locator>
    </div>
</md-content>
