<md-content layout="row" layout-fill>
    <md-whiteframe layout="column" flex="40" flex-gt-sm="30" style="padding: 0 15px;">
        <div layout="row" layout-align="center center">
            <md-input-container flex="grow" md-no-float class="md-block ng-animated-show">
                <md-icon md-font-library="material-icons">search</md-icon>
                <input ng-model="view.search.filter" type="text" ng-change="$ctrl.searchRecords(view.search.filter)"
                       placeholder="{{'shared.actions.search' | translate}}">
            </md-input-container>
        </div>
        <div style="position:relative; height: 100%; overflow: scroll" class="stations-list">
            <div style="position: absolute; width:100%">
                <md-list infinite-scroll="$ctrl.nextRecords(view.search.filter)"
                         infinite-scroll-disabled='$ctrl.isLastPage' infinite-scroll-container="'.stations-list'">
                    <md-list-item class="stop-item md-2-line" ng-repeat="station in $ctrl.records" ng-class="{'stop-item-highlighted': station.id === $ctrl.highlightedStationId}">
                        <div class="md-list-item-text">
                            <h3>{{station.name}}</h3>
                            <p style="overflow: scroll;">
                                <span class="label label-danger"
                                      ng-repeat="vehicleTypeName in station.vehicleType">{{'shared.generic.vehicleType.' + vehicleTypeName | translate}}</span>
                            </p>
                            <md-icon class="md-secondary" ng-click="$ctrl.editRecord(station)"
                                     md-font-library="material-icons">create
                            </md-icon>
                            <md-icon class="md-secondary" ng-click="$ctrl.deleteRecord(station.id)"
                                     md-font-library="material-icons">delete
                            </md-icon>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                    <div layout layout-align="center center">
                        <md-progress-circular ng-show="$ctrl.loading" class="md-accent"
                                              md-diameter="40"></md-progress-circular>
                    </div>
                </md-list>
                <div ng-show="!$ctrl.records.length && !$ctrl.loading" layout="column" layout-align="center center"
                     layout-margin="7">
                    <md-icon md-font-library="material-icons">cloud_off</md-icon>
                    <h3>{{'shared.data.empty' | translate}}</h3>
                </div>
                <div ng-show="$ctrl.isLastPage && $ctrl.records.length && !$ctrl.loading" layout="column"
                     layout-align="center center" layout-margin="7">
                    <md-icon md-font-library="material-icons">block</md-icon>
                    <h4>{{'shared.data.end' | translate}}</h4>
                </div>
            </div>
        </div>
    </md-whiteframe>
    <div flex="75">
        <map-locator markers="$ctrl.markers"
                     marker-clicked-callback="$ctrl.highlightStation(id)"
                     marker-move-callback="$ctrl.highlightStation(id)"
                     marker-moved-callback="$ctrl.moveStation(id, location)"
                     map-clicked-callback="$ctrl.unHighlightStation()"
                     action-title="{{'stops.create_here' | translate}}"
                     action-callback="$ctrl.createRecord(location)"></map-locator>
    </div>
</md-content>
