<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <nav class="navbar navbar-default navbar-rounded-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html" style="margin-right: 35px">
                            <img src="img/hermes-log.svg" width="32px" style="display: inline">
                            <h4 style="display: inline"><strong>Hermes</strong></h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a ng-href="#/stations">Зупинки</a></li>
                            <li><a ng-href="#/lines">Лінії та маршрути</a></li>
                            <li class="active"><a ng-href="#/schedules">Розклади</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:socialedge.team@gmail.com">Допомога</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0" ng-init="initAlerts()">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <div class="page-header">
                <small>← <a ng-href="#/schedules">Розклади</a></small>
                <h1 class="clearfix" ng-init="loadPage()">
                    <div class="pull-left">Розклад <small>для лінії <a ng-href="#/lines/{{page.lineCode}}">{{page.lineName}}</a></small></div>
                    <div class="pull-right">
                        <div class="form-group" style="display:inline">
                            <div class="col-md-12">
                                <select id="schedule-toggle" class="form-control">
                                    <option data-toggle="collapse" href="#schedule-inbound">Напрямок ТУДИ →</option>
                                    <option data-toggle="collapse" ng-show="page.isBidirectional" href="#schedule-outbound">Напрямок НАЗАД ↻</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </h1>
                <button type="submit" class="btn btn-raised btn-primary btn-sm" ng-click="updateSchedule()" ng-disabled="$scope.page.schedule.$invalid">Зберегти</button>
            </div>

            <div class="container">
                <form class="form-horizontal" name="$scope.page.schedule">
                <div class="rows schedule collapse in" id="schedule-inbound">
                    <div class="col-md-2">
                        <table class="table table-hover schedule">
                            <thead>
                            <tr>
                                <th>
                                    <span class="fixed-height-big">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Зупинка
                                        <br/>
                                    Подорож
                                    </span>
                                </th>
                            </tr>
                            <tr ng-repeat="trip in page.schedule.inboundTrips">
                                <td>
                                    <span class="fixed-height-slim">Подорож {{$index+1}}</span>
                                </td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-10">
                        <div class="table-responsive">

                            <table class="table table-hover schedule">
                                <thead>
                                <tr>
                                    <th class="stop-name" ng-repeat="station in page.inboundStations"><span class="fixed-height-big">{{station.name}}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="trip in page.schedule.inboundTrips" data-trip="{{$index+1+1}}">
                                    <td ng-repeat="tripStop in trip.stops" class="trip"><span class="fixed-height-slim">
                                        <input ng-pattern="/^([0-9]){2}:([0-9]){2}(:([0-9]){2}){0,1}$/" required size="5" type="text" class="fixed-height-slim" ng-model="tripStop.arrival">
                                    </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addRow('START', 'INBOUND')">Додати подорож спочатку</button>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addRow('END', 'INBOUND')">Додати подорож вкінці</button>
                    <br/>
                    <input type="text" ng-model="page.stationAutocomplete"
                           placeholder="Назва зупинки ..."
                           uib-typeahead="station as station.name for station in fetchStationsContaining($viewValue, page.inboundStations)"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                           typeahead-on-select="page.selectedStationInbound = $item"
                           class="form-control">
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addColumn('START', 'INBOUND')" ng-disabled="!page.selectedStationInbound">Додати станцію спочатку</button>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addColumn('END', 'INBOUND')" ng-disabled="!page.selectedStationInbound">Додати станцію вкінці</button>
                </div>
                <div class="rows schedule collapse" id="schedule-outbound">
                    <div class="col-md-2">
                        <table class="table table-hover schedule">
                            <thead>
                            <tr>
                                <th>
                                    <span class="fixed-height-big">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Зупинка
                                        <br/>
                                    Подорож
                                    </span>
                                </th>
                            </tr>
                            <tr ng-repeat="trip in page.schedule.outboundTrips">
                                <td>
                                    <span class="fixed-height-slim">Подорож {{$index+1}}</span>
                                </td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-10">
                        <div class="table-responsive">

                            <table class="table table-hover schedule">
                                <thead>
                                <tr>
                                    <th class="stop-name" ng-repeat="station in page.outboundStations"><span class="fixed-height-big">{{station.name}}</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="trip in page.schedule.outboundTrips" data-trip="{{$index+1}}">
                                    <td ng-repeat="tripStop in trip.stops" class="trip"><span class="fixed-height-slim">
                                        <input ng-pattern="/^([0-9]){2}:([0-9]){2}(:([0-9]){2}){0,1}$/" required size="5" type="text" class="fixed-height-slim" ng-model="tripStop.arrival">
                                    </span></td>                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addRow('START', 'OUTBOUND')">Додати подорож спочатку</button>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addRow('END', 'OUTBOUND')">Додати подорож вкінці</button>
                    <br/>
                    <input type="text" ng-model="page.outboundStationAutocomplete"
                           placeholder="Назва зупинки ..."
                           uib-typeahead="station as station.name for station in fetchStationsContaining($viewValue, page.outboundStations)"
                           typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                           typeahead-on-select="page.selectedStationOutbound = $item"
                           class="form-control">
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addColumn('START', 'OUTBOUND')" ng-disabled="!page.selectedStationOutbound">Додати станцію спочатку</button>
                    <button class="btn btn-raised btn-success btn-sm" ng-click="addColumn('END', 'OUTBOUND')" ng-disabled="!page.selectedStationOutbound">Додати станцію вкінці</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var toggler = $("#schedule-toggle");
        var targets = toggler.find('[data-toggle="collapse"]').map(function(){return $(this).attr("href");}).get();

        toggler.change(function() {
            var awaits = [];
            $.each(targets, function (key, targetElement) {
                awaits.push($(targetElement).fadeOut().promise());
            });

            var selectOption = $(this).find(":selected");
            if (selectOption.is('[data-toggle="collapse"]')) {
                var targetElement = selectOption.attr("href");
                $.when.apply($, awaits).done(function () {
                    $(targetElement).fadeIn();
                });
            }
        });
    })
</script>
