<div class="flex-center text-center">
    <div>
        <img src="img/hermes-log.svg" width="200px">
        <h1>
            <img src="http://socialedge.eu/img/socialedge.svg" height="35px">
            <br/> Hermes <br/>
            <small>The Municipal Transport Timetable System</small>
        </h1>
    </div>

    <div>
        <a ng-href="#/stations" class="btn btn-raised btn-primary" data-toggle="tooltip" data-placement="bottom" title="Реєстр наявних зупинок">Зупинки</a>
        <a ng-href="#/lines" class="btn btn-raised btn-info" data-toggle="tooltip" data-placement="bottom" title="Реєстр маршрутів та ліній">Лінії та маршрути</a>
        <a ng-href="#/schedules" class="btn btn-raised btn-warning" data-toggle="tooltip" data-placement="bottom" title="Перегляд та генерація розкладів руху">Розклади</a>
    </div>
</div>
