<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 col-xs-12 col-xs-offset-0">
            <nav class="navbar navbar-default navbar-rounded-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ng-href="#/" style="margin-right: 35px">
                            <img src="img/hermes-log.svg" width="32px" style="display: inline">
                            <h4 style="display: inline"><strong>Hermes</strong></h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a ng-href="#/stations">Зупинки</a></li>
                            <li class="active"><a href="javascript:void(0)">Лінії та маршрути</a></li>
                            <li><a ng-href="#/schedules">Розклади</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:socialedge.team@gmail.com">Допомога</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0" ng-init="initAlerts()">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
        </div>
    </div>
    <div class="row" ng-init="loadPage()">
        <div class="col-md-offset-1 col-md-10 col-xs-12 col-xs-offset-0">
            <div class="page-header">
                <h1>Реєстр ліній та маршрутів</h1>
            </div>

            <h2 class="text-center" style="padding-bottom: 35px" ng-show="page.lines.length == 0">Брак даних</h2>
            <table class="table table-striped table-hover table-valign-middle lines" ng-show="page.lines.length != 0">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Назва</th>
                    <th>Агенція</th>
                    <th class="text-center">Маршрути</th>
                    <th class="text-center">Дії</th>
                </tr>
                </thead>
                <tbody>
                <tr class="line" id="s12sx" ng-repeat="line in page.lines">
                    <td>{{line.code}}</td>
                    <td>Т-1</td>
                    <td><a href="{{line.agency.url}}" target="_blank">{{line.agency.name}}</a></td>
                    <td class="text-center">
                        <div class="btn-group">
                            <div class="btn-group">
                                <a data-toggle="dropdown" title="Маршрут туди" class="btn btn-raised btn-sm btn-primary">
                                    <i class="material-icons">call_made</i>
                                    <div style="display: inline-block; vertical-align: middle;">Маршрут туди</div>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-repeat="station in line.inboundRoute.stations">{{station.name}}</a></li>
                                </ul>
                            </div>
                            <div class="btn-group" ng-show="line.outboundRoute">
                                <a data-toggle="dropdown" title="Маршрут назад" class="btn btn-raised btn-sm btn-warning">
                                    <i class="material-icons">replay</i>
                                    <div style="display: inline-block; vertical-align: middle;">Маршрут назад</div>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)" ng-repeat="station in line.outboundRoute.stations">{{station.name}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="btn-group">
                            <a href="#" data-toggle="modal" data-target="#station" class="btn btn-raised btn-info btn-sm">Редагувати</a>
                            <buttone ng-click="deleteLine(line.code, line._links.self.href)" class="btn btn-raised btn-danger btn-sm">Видалити</buttone>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="text-center">
                <ul uib-pagination
                    ng-model="page.currentPage"
                    total-items="page.totalItems"
                    items-per-page="page.itemsPerPage"
                    num-pages="page.maxSize"
                    ng-change="refreshPage()"
                    next-text="Наступна"
                    previous-text="Попередня"
                    boundary-links="true"
                    last-text="Остання"
                    first-text="Перша">
                </ul>
            </div>

            <div class="text-left">
                <button ng-click="openNewLineModal()" class="btn btn-raised btn-primary">Додати нову лінію<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for edit/new-->
<script type="text/ng-template" id="lineModal.html">
    <div class="modal-content">
        <form class="form-horizontal" name="lineForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Редагування / Створення лінії</h3>
            </div>
            <div class="modal-body" ng-init="initModal()">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputCode" class="col-md-2 control-label">Код</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputCode" placeholder="Код лінії" ng-required="required" ng-model="line.code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-2 control-label">Назва</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Назва лінії" ng-required="required" ng-model="line.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAgency" class="col-md-2 control-label">Агенція</label>

                            <div class="col-md-10">
                                <select id="inputAgency" class="form-control" ng-init="initAgenciesSelect()" ng-model="line.agencyUrl">
                                    <option ng-repeat="agency in agencies" value="{{agency._links.self.href}}">{{agency.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputUrl" class="col-md-2 control-label">Інфосторінка</label>

                            <div class="col-md-10">
                                <input type="url" class="form-control" id="inputUrl" ng-model="line.url"
                                       placeholder="Посилання URL на інфосторінку">
                            </div>
                        </div>
                    </fieldset>
                    <hr/>

                    <h4>Маршрути</h4>
                    <table width="100%" style="cursor: pointer;" data-toggle="collapse" href="#collapseInboundRoute"
                           aria-expanded="false">
                        <tr style="vertical-align: middle;">
                            <td>
                                <h5><i class="material-icons" style="vertical-align: middle;margin-top: -4px;">call_made</i>
                                    Маршрут ТУДИ</h5>
                            </td>
                            <td align="right" style="padding-bottom: 3px;">
                                <small style="color: #ccc">(Натисніть, щоб розвернути)</small>
                            </td>
                        </tr>
                    </table>
                    <fieldset id="collapseInboundRoute" class="collapse">
                        <div class="form-group" style="margin-top: 10px">
                            <label for="inputInboundRouteCode" class="col-md-2 control-label">Код</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputInboundRouteCode" placeholder="Код маршруту" ng-required="required" ng-model="line.inboudRoute.code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="margin-top: 21px;">Тип</label>

                            <div class="col-md-10">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" ng-model="line.inboudRoute.type" ng-value="'BUS'" ng-required="!line.inboudRoute.type">
                                        Автобусний
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" ng-model="line.inboudRoute.type" ng-value="'TROLLEYBUS'" ng-required="!line.inboudRoute.type">
                                        Тролейбусний
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="margin-top: 5px;">Зупинки</label>

                            <div class="col-md-10">
                                <ul class="list-group-sortable sortable-list">
                                    <li class="list-group-sortable-item" ng-repeat="station in line.inboudRoute.stations">{{station.name}}
                                        <a href="javascript:void(0)" class="pull-right" ng-click="removeRouteStation($index, line.inboudRoute.stations)"><i class="material-icons">clear</i></a>
                                    </li>
                                </ul>
                                <hr style="margin-bottom: 0"/>
                                <div class="form-group" style="margin-top: 5px">
                                    <div class="col-md-12">
                                        <input type="text" ng-model="inboundRouteStationAutocomplete"
                                               placeholder="Назва зупинки ..."
                                               uib-typeahead="station as station.name for station in fetchStationsContaining($viewValue, line.inboudRoute.stations)"
                                               typeahead-loading="loadingLocationsInbound" typeahead-no-results="noResultsInbound"
                                               typeahead-on-select="onStationAutocomplete($item, line.inboudRoute.stations); inboundRouteStationAutocomplete = null"
                                               class="form-control">
                                        <i ng-show="loadingLocationsInbound" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResultsInbound">
                                            <i class="glyphicon glyphicon-remove"></i> Не знайдено
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <table width="100%" style="cursor: pointer;" data-toggle="collapse" href="#collapseOutboundRoute"
                           aria-expanded="false">
                        <tr style="vertical-align: middle;">
                            <td>
                                <h5><i class="material-icons" style="vertical-align: middle;margin-top: -4px;">replay</i>
                                    Маршрут НАЗАД</h5>
                            </td>
                            <td align="right" style="padding-bottom: 3px;">
                                <small style="color: #ccc">(Натисніть, щоб розвернути)</small>
                            </td>
                        </tr>
                    </table>
                    <fieldset id="collapseOutboundRoute" class="collapse">
                        <div class="form-group" style="margin-top: 10px">
                            <label for="inputOutboundRouteCode" class="col-md-2 control-label">Код</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputOutboundRouteCode" placeholder="Код маршруту" ng-model="line.outboundRoute.code" ng-required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="margin-top: 21px;">Тип</label>

                            <div class="col-md-10">
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" ng-model="line.outboundRoute.type" ng-value="'BUS' "ng-required="!line.outboundRoute.type">
                                        Автобусний
                                    </label>
                                </div>
                                <div class="radio radio-primary">
                                    <label>
                                        <input type="radio" ng-model="line.outboundRoute.type" ng-value="'TROLLEYBUS'" ng-required="!line.outboundRoute.type">
                                        Тролейбусний
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" style="margin-top: 5px;">Зупинки</label>

                            <div class="col-md-10">
                                <ul class="list-group-sortable sortable-list">
                                    <li class="list-group-sortable-item" ng-repeat="station in line.outboundRoute.stations">{{station.name}}
                                        <a href="javascript:void(0)" class="pull-right" ng-click="removeRouteStation($index, line.outboundRoute.stations)"><i class="material-icons">clear</i></a>
                                    </li>
                                </ul>
                                <hr style="margin-bottom: 0"/>
                                <div class="form-group" style="margin-top: 5px">
                                    <div class="col-md-10">
                                        <input type="text" ng-model="outboundRouteStationAutocomplete"
                                               placeholder="Назва зупинки ..."
                                               uib-typeahead="station as station.name for station in fetchStationsContaining($viewValue, line.outboundRoute.stations)"
                                               typeahead-loading="loadingLocationsOutbound" typeahead-no-results="noResultsOutbound"
                                               typeahead-on-select="onStationAutocomplete($item, line.outboundRoute.stations); outboundRouteStationAutocomplete = null"
                                               class="form-control">
                                        <i ng-show="loadingLocationsOutbound" class="glyphicon glyphicon-refresh"></i>
                                        <div ng-show="noResultsOutbound">
                                            <i class="glyphicon glyphicon-remove"></i> Не знайдено
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-primary btn-sm" ng-click="saveLine()">Зберегти</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="closeModal()">Закрити</button>
            </div>
        </form>
    </div>
</script>
