<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <nav class="navbar navbar-default navbar-rounded-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html" style="margin-right: 35px">
                            <img src="img/hermes-log.svg" width="32px" style="display: inline">
                            <h4 style="display: inline"><strong>Hermes</strong></h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a ng-href="#/stations">Зупинки</a></li>
                            <li><a ng-href="#/lines">Лінії та маршрути</a></li>
                            <li class="active"><a ng-href="#/schedules">Розклади</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:socialedge.team@gmail.com">Допомога</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <div class="page-header">
                <small>← <a ng-href="#/schedules">Розклади</a></small>
                <h1 class="clearfix">
                    <div class="pull-left">Розклад #sasd1 <small>для лінії <a href="lines.html?highlight=s12sx5">Т-1</a></small></div>
                    <div class="pull-right">
                        <div class="form-group" style="display:inline">
                            <div class="col-md-12">
                                <select id="schedule-toggle" class="form-control">
                                    <option data-toggle="collapse" href="#schedule-inbound">Напрямок ТУДИ (Київ - ЦМЛ) →</option>
                                    <option data-toggle="collapse" href="#schedule-outbound">Напрямок ЗВІДТИ (ЦМЛ - Київ) ↻</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <table class="table table-hover schedule">
                            <thead>
                            <tr>
                                <th>
                                    <span class="fixed-height-big">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Зупинка
                                        <br/>
                                    Подорож
                                    </span>
                                </th>
                            </tr>
                            <tr><td><span class="fixed-height-slim">
                                Подорож 1
                                <div><small><strong>Авто 1</strong></small></div>
                            </span></td>
                            <tr><td><span class="fixed-height-slim">
                                Подорож 2
                                <div><small><strong>Авто 2</strong></small></div>
                            </span></td>
                            <tr><td><span class="fixed-height-slim">
                                Подорож 3
                                <div><small><strong>Авто 3</strong></small></div>
                            </span></td>
                            <tr><td><span class="fixed-height-slim">
                                Подорож 4
                                <div><small><strong>Авто 1</strong></small></div>
                            </span></td>
                            <tr><td><span class="fixed-height-slim">
                                Подорож 5
                                <div><small><strong>Авто 2</strong></small></div>
                            </span></td>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-11">
                        <div class="table-responsive">
                            <table class="table table-hover schedule collapse in" id="schedule-inbound">
                                <thead>
                                <tr>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 1</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 2</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 3</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 4</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 5</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 6</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 7</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 8</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 9</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 10</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-trip="1">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="2">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="3">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="4">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="5">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-hover schedule collapse" id="schedule-outbound">
                                <thead>
                                <tr>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 10</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 9</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 8</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 7</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 6</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 5</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 4</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 3</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 2</span></th>
                                    <th class="stop-name"><span class="fixed-height-big">Зупинка 1</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-trip="1">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="2">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="3">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="4">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                <tr data-trip="5">
                                    <td class="trip"><span class="fixed-height-slim">9:10</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:20</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:25</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:35</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:45</span></td>
                                    <td class="trip"><span class="fixed-height-slim">9:55</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:00</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:15</span></td>
                                    <td class="trip"><span class="fixed-height-slim">10:25</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var toggler = $("#schedule-toggle");
        var targets = toggler.find('[data-toggle="collapse"]').map(function(){return $(this).attr("href");}).get();

        toggler.change(function() {
            var awaits = [];
            $.each(targets, function (key, targetElement) {
                awaits.push($(targetElement).fadeOut().promise());
            });

            var selectOption = $(this).find(":selected");
            if (selectOption.is('[data-toggle="collapse"]')) {
                var targetElement = selectOption.attr("href");
                $.when.apply($, awaits).done(function () {
                    $(targetElement).fadeIn();
                });
            }
        });
    })
</script>
