<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <nav class="navbar navbar-default navbar-rounded-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ng-href="#/" style="margin-right: 35px">
                            <img src="img/hermes-log.svg" width="32px" style="display: inline">
                            <h4 style="display: inline"><strong>Hermes</strong></h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a ng-href="#/stations">Зупинки</a></li>
                            <li><a ng-href="#/lines">Лінії та маршрути</a></li>
                            <li class="active"><a href="javascript:void(0)">Розклади</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:socialedge.team@gmail.com">Допомога</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0" ng-init="initAlerts()">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
        </div>
    </div>
    <div class="row" ng-init="loadPage()">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <div class="page-header">
                <h1>Розклади</h1>
            </div>

            <h2 class="text-center" style="padding-bottom: 35px" ng-show="page.schedules.length == 0">Брак даних</h2>
            <table class="table table-striped table-hover table-valign-middle" ng-show="page.schedules.length != 0">
                <thead>
                <tr>
                    <th>Лінія</th>
                    <th>Опис</th>
                    <th class="text-center">Дійсний (дні тижня)</th>
                    <th class="text-center">Публікація</th>
                    <th class="text-center">Дії</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in page.schedules">
                    <td><a ng-href="#/lines/{{schedule.line.id}}">{{schedule.line.code}}</a></td>
                    <td>{{schedule.description}}</td>
                    <td class="text-center">
                        <span class="label label-{{isWorkingDay(schedule, 'MONDAY') ? 'success' : 'default'}}">Пн</span>
                        <span class="label label-{{isWorkingDay(schedule, 'TUESDAY') ? 'success' : 'default'}}">Вт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'WEDNESDAY') ? 'success' : 'default'}}">Ср</span>
                        <span class="label label-{{isWorkingDay(schedule, 'THURSDAY') ? 'success' : 'default'}}">Чт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'FRIDAY') ? 'success' : 'default'}}">Пт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'SATURDAY') ? 'success' : 'default'}}">Сб</span>
                        <span class="label label-{{isWorkingDay(schedule, 'SUNDAY') ? 'success' : 'default'}}">Нд</span>
                    </td>
                    <td class="text-center">
                        <span ng-if="!schedule.published" class="label label-default">Не опубліковано</span>
                        <span ng-if="schedule.published" class="label label-success">Опубліковано</span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group-vertical">
                            <a ng-href="#/schedules/{{schedule.id}}" class="btn btn-raised btn-info btn-sm">Редагувати</a>
                            <button ng-click="deleteSchedule(schedule._links.self.href)" class="btn btn-raised btn-danger btn-sm">Видалити</button>
                            <a href="javascript:void(0)" class="btn btn-raised btn-warning btn-sm">Опублікувати</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-left">
                <button ng-click="openModal()" class="btn btn-raised btn-primary">Створити новий розклад<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for schedules gen -->
<div class="modal fade" id="schedule" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Створити новий розклад</h3>
            </div>
            <div class="modal-body" ng-form="form1">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputLine" class="col-md-2 control-label">Лінія</label>

                            <div class="col-md-10">
                                <select id="inputLine" class="form-control" ng-model="schedule.line" required>
                                    <option ng-repeat="line in page.lines" value="{{line._links.self.href}}">{{line.code}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDesc" class="col-md-2 control-label">Опис</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputDesc" placeholder="Детальний опис" ng-model="schedule.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputStartDate" class="col-md-2 control-label">Дата початку</label>

                            <div class="col-md-10">
                                <input type="date" class="form-control" id="inputStartDate" ng-model="schedule.startDate" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-md-2 control-label">Дата кiнця</label>

                            <div class="col-md-10">
                                <input type="date" class="form-control" id="inputEndDate" ng-model="schedule.endDate" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAvailability" class="col-md-2 control-label">Опис</label>

                            <div class="col-md-10">
                                <div class="checkbox" id="inputAvailability">
                                    <button ng-click="selectDay('MONDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Пн</button>
                                    <button ng-click="selectDay('TUESDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Вт</button>
                                    <button ng-click="selectDay('WEDNESDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Ср</button>
                                    <button ng-click="selectDay('THURSDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Чт</button>
                                    <button ng-click="selectDay('FRIDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Пт</button>
                                    <button ng-click="selectDay('SATURDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Сб</button>
                                    <button ng-click="selectDay('SUNDAY')" style="padding:10px" type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">Вс</button>
                                </div>
g
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputGenerator" class="col-md-2 control-label">Генератор</label>

                            <div class="col-md-10">
                                <select id="inputGenerator" class="form-control">
                                    <option>Не використовувати (створити пустий розклад)</option>
                                    <option selected data-toggle="collapse" href="#basicGenerator">Генератор з використанням середньої швидкості</option>
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <div id="basicGenerator" class="collapse">
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputStartTimeInbound" class="col-md-2 control-label">Перший рейс ТУДИ</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputStartTimeInbound" ng-model="schedule.startTimeInbound" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputStartTimeOutbound" class="col-md-2 control-label">Перший рейс ЗВІДТИ</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputStartTimeOutbound" ng-model="schedule.startTimeOutbound" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputEndTime" class="col-md-2 control-label">Останній рейс</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputEndTime" ng-model="schedule.endTime" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputHeadway" class="col-md-2 control-label">Інтервал руху (хв)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputHeadway" min="1" ng-model="schedule.headway" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputDwellTime" class="col-md-2 control-label">Тривалість зупинок (сек)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputDwellTime" min="1" ng-model="schedule.dwellTime" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputAverageSpeed" class="col-md-2 control-label">Середня швидкість (км/г)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputAverageSpeed" min="1" ng-model="schedule.averageSpeed" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputMinLayover" class="col-md-2 control-label">Miн. час очикування (хв)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputMinLayover" min="1" ng-model="schedule.minLayover" required>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-raised btn-primary btn-sm" ng-disabled="form1.$invalid" ng-click="saveSchedule(schedule)">Зберегти</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="closeModal()">Закрити</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.collapse').collapse({toggle: true});
        var toggler = $("#inputGenerator");
        var targets = toggler.find('[data-toggle="collapse"]').map(function(){return $(this).attr("href");}).get();

        toggler.change(function() {
            $.each(targets, function (key, targetElement) {
                $(targetElement).collapse('hide');
            });

            var selectOption = $(this).find(":selected");
            if (selectOption.is('[data-toggle="collapse"]')) {
                var targetElement = selectOption.attr("href");
                $(targetElement).collapse('show');
            }
        });
    })
</script>
