<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <nav class="navbar navbar-default navbar-rounded-bottom">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" ng-href="#/" style="margin-right: 35px">
                            <img src="img/hermes-log.svg" width="32px" style="display: inline">
                            <h4 style="display: inline"><strong>Hermes</strong></h4>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a ng-href="#/stations">Зупинки</a></li>
                            <li><a ng-href="#/lines">Лінії та маршрути</a></li>
                            <li class="active"><a href="javascript:void(0)">Розклади</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="mailto:socialedge.team@gmail.com">Допомога</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row" ng-init="loadPage()">
        <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
            <div class="page-header">
                <h1>Розклади</h1>
            </div>

            <table class="table table-striped table-hover table-valign-middle" ng-show="page.schedules">
                <thead>
                <tr>
                    <th>Лінія</th>
                    <th>Опис</th>
                    <th class="text-center">Дійсний (дні тижня)</th>
                    <th class="text-center">Публікація</th>
                    <th class="text-center">Дії</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="schedule in page.schedules">
                    <td><a ng-href="#/lines/{{schedule.line.id}}">{{schedule.line.code}}</a></td>
                    <td>{{schedule.description}}</td>
                    <td class="text-center">
                        <span class="label label-{{isWorkingDay(schedule, 'MONDAY') ? 'success' : 'default'}}">Пн</span>
                        <span class="label label-{{isWorkingDay(schedule, 'TUESDAY') ? 'success' : 'default'}}">Вт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'WEDNESDAY') ? 'success' : 'default'}}">Ср</span>
                        <span class="label label-{{isWorkingDay(schedule, 'THURSDAY') ? 'success' : 'default'}}">Чт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'FRIDAY') ? 'success' : 'default'}}">Пт</span>
                        <span class="label label-{{isWorkingDay(schedule, 'SATURDAY') ? 'success' : 'default'}}">Сб</span>
                        <span class="label label-{{isWorkingDay(schedule, 'SUNDAY') ? 'success' : 'default'}}">Нд</span>
                    </td>
                    <td class="text-center">
                        <span ng-if="!schedule.published" class="label label-default">Не опубліковано</span>
                        <span ng-if="schedule.published" class="label label-success">Опубліковано</span>
                    </td>
                    <td class="text-center">
                        <div class="btn-group-vertical">
                            <a ng-href="#/schedules/{{schedule.id}}" class="btn btn-raised btn-info btn-sm">Редагувати</a>
                            <a href="javascript:void(0)" class="btn btn-raised btn-danger btn-sm">Видалити</a>
                            <a href="javascript:void(0)" class="btn btn-raised btn-warning btn-sm">Опублікувати</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-left">
                <button data-toggle="modal" data-target="#station" class="btn btn-raised btn-primary">Створити новий розклад<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for schedules gen -->
<div class="modal fade" id="station" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>Створити новий розклад</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputLine" class="col-md-2 control-label">Лінія</label>

                            <div class="col-md-10">
                                <select id="inputLine" class="form-control">
                                    <option>Т-1</option>
                                    <option>Т-2 (опис якщо є)</option>
                                    <option>А-1</option>
                                    <option>А-2 (опис якщо є)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDesc" class="col-md-2 control-label">Опис</label>

                            <div class="col-md-10">
                                <input type="text" class="form-control" id="inputDesc" placeholder="Детальний опис">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAvailability" class="col-md-2 control-label">Опис</label>

                            <div class="col-md-10">
                                <div class="checkbox" id="inputAvailability" style="padding-top: 16px;">
                                    <label>
                                        <input type="checkbox" checked="checked"> Пн
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="checked"> Вт
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="checked"> Ср
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="checked"> Чт
                                    </label>
                                    <label>
                                        <input type="checkbox" checked="checked"> Пт
                                    </label>
                                    <label>
                                        <input type="checkbox"> Сб
                                    </label>
                                    <label>
                                        <input type="checkbox"> Нд
                                    </label>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputGenerator" class="col-md-2 control-label">Генератор</label>

                            <div class="col-md-10">
                                <select id="inputGenerator" class="form-control">
                                    <option>Не використовувати (створити пустий розклад)</option>
                                    <option data-toggle="collapse" href="#basicGenerator">Генератор з використанням середньої швидкості</option>
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <div id="basicGenerator" class="collapse">
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputStartTimeInbound" class="col-md-2 control-label">Перший рейс ТУДИ</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputStartTimeInbound" value="05:00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputStartTimeOutbound" class="col-md-2 control-label">Перший рейс ЗВІДТИ</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputStartTimeOutbound" value="05:00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputEndTime" class="col-md-2 control-label">Останній рейс</label>

                                <div class="col-md-10">
                                    <input type="time" class="form-control" id="inputEndTime" value="23:00">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputHeadway" class="col-md-2 control-label">Інтервал руху (хв)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputHeadway" value="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputDwellTime" class="col-md-2 control-label">Тривалість зупинок (сек)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputDwellTime" value="20">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputAverageTime" class="col-md-2 control-label">Середня швидкість (км/г)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputAverageTime" value="15">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputMinLayover" class="col-md-2 control-label">Мін. інтервал між рейсами (хв)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputMinLayover" value="10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label style="margin-top: 0" for="inputMaxLayover" class="col-md-2 control-label">Макс. інтервал між рейсами (хв)</label>

                                <div class="col-md-10">
                                    <input type="number" class="form-control" id="inputMaxLayover" value="30">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-raised btn-primary btn-sm">Зберегти</button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.collapse').collapse({toggle: false});
        var toggler = $("#inputGenerator");
        var targets = toggler.find('[data-toggle="collapse"]').map(function(){return $(this).attr("href");}).get();

        toggler.change(function() {
            $.each(targets, function (key, targetElement) {
                $(targetElement).collapse('hide');
            });

            var selectOption = $(this).find(":selected");
            if (selectOption.is('[data-toggle="collapse"]')) {
                var targetElement = selectOption.attr("href");
                $(targetElement).collapse('show');
            }
        });
    })
</script>
