<md-toolbar>
    <div class="md-toolbar-tools">
        <h1 class="hermes-logo" flex>Hermes</h1>

        <md-button ui-sref="agencies" ui-sref-active="md-accent">
            {{ 'navbar.agencies' | translate }}
        </md-button>
        <md-button ui-sref="stops" ui-sref-active="md-accent">
            {{ 'navbar.stops' | translate }}
        </md-button>
        <md-button ui-sref="lines" ui-sref-active="md-accent">
            {{ 'navbar.lines' | translate }}
        </md-button>
        <md-button ui-sref="schedules" ui-sref-active="md-accent">
            {{ 'navbar.schedules' | translate }}
        </md-button>
        <md-button ui-sref="publications" ui-sref-active="md-accent">
            {{ 'navbar.publications' | translate }}
        </md-button>
    </div>
</md-toolbar>
