<md-toolbar>
    <div class="md-toolbar-tools">
        <h1 class="hermes-logo" flex>Hermes</h1>

        <md-button ui-sref="app.agencies" ui-sref-active="md-accent">
            {{ 'navbar.agencies' | translate }}
        </md-button>
        <md-button ui-sref="app.stops" ui-sref-active="md-accent">
            {{ 'navbar.stops' | translate }}
        </md-button>
        <md-button ui-sref="app.lines" ui-sref-active="md-accent">
            {{ 'navbar.lines' | translate }}
        </md-button>
        <md-button ui-sref="app.schedules" ui-sref-active="md-accent">
            {{ 'navbar.schedules' | translate }}
        </md-button>
        <md-button ui-sref="app.publications" ui-sref-active="md-accent">
            {{ 'navbar.publications' | translate }}
        </md-button>
    </div>
</md-toolbar>
