<div layout="column" flex="90" flex-offset="5">

    <div layout="row" flex="100" layout-align="space-between center">
        <h2 flex>{{'shared.data.allrecords' | translate}}</h2>

        <div flex>
            <div layout="row" layout-align="space-between center">
                <div flex>
                    <md-input-container md-no-float class="md-block ng-animated-show" ng-show="view.search.enabled">
                        <input ng-model="view.search.filter" type="text" ng-change="$ctrl.resetAgencies(view.search.filter)" placeholder="{{'shared.actions.search' | translate}}">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-button class="md-icon-button" aria-label="search"
                               ng-click="view.search.enabled = !view.search.enabled"
                               ng-class="{'md-accent': view.search.enabled}">
                        <md-icon md-font-library="material-icons">search</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-warn" aria-label="add">
                        <md-icon ng-click="$ctrl.createAgency()" md-font-library="material-icons">add</md-icon>
                    </md-button>
                </div>
            </div>
        </div>
    </div>

    <md-list>
        <div infinite-scroll="$ctrl.nextAgencies(view.search.filter)" infinite-scroll-disabled='$ctrl.isLastPage'>
            <md-list-item class="md-2-line" ng-repeat="agency in $ctrl.agencies" >
                <div class="md-list-item-text">
                    <h3>{{agency.name}}</h3>
                    <p>{{agency.url || agency.phone || agency.timeZone}}</p>
                    <md-icon class="md-secondary" ng-click="$ctrl.editAgency(agency)" md-font-library="material-icons">create</md-icon>
                    <md-icon class="md-secondary" ng-click="$ctrl.deleteAgency(agency)" md-font-library="material-icons">delete</md-icon>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </div>
        <div layout layout-align="center center">
            <md-progress-circular ng-show="$ctrl.loading" class="md-accent" md-diameter="40"></md-progress-circular>
        </div>
    </md-list>
    <div ng-show="!$ctrl.agencies.length && !$ctrl.loading" layout="column" layout-align="center center" layout-margin="7">
        <md-icon md-font-library="material-icons">cloud_off</md-icon>
        <h3>{{'shared.data.empty' | translate}}</h3>
    </div>
    <div ng-show="$ctrl.isLastPage && $ctrl.agencies.length && !$ctrl.loading" layout="column" layout-align="center center" layout-margin="7">
        <md-icon md-font-library="material-icons">block</md-icon>
        <h4>{{'shared.data.end' | translate}}</h4>
    </div>
</div>
