@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #FFFFFF url('../img/city-background-lite.jpg') no-repeat fixed bottom;
}

/* -- NAVBAR -- */
@media (min-width: 768px) {
    .navbar.navbar-secluded {
        margin-top: 30px;
    }
}

@media (max-width: 768px) {
    .navbar.navbar-secluded {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        margin-left: -15px;
        margin-right: -15px;
    }
}

.navbar-clear {
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 100;
}

.navbar-clear a {
    color: #000000;
}

.navbar-clear a:hover,
.navbar-clear a:focus {
    background: 0 !important;
    color: #7d7d7d;
}

.navbar-spacious {
    padding: 1.0rem 1.5rem;
}

.navbar-brand.navbar-brand-spacious {
    font-weight: 500;
}

.navbar-brand.navbar-brand-spacious span.glyphicon {
    top: 9px;
    font-size: 33px;
    line-height: 0;
}

.navbar-clear .navbar-toggle {
    border: 1px solid #000;
}

.navbar-clear .navbar-toggle > .icon-bar {
    background: #000;
}

/* -- TIMETABLE CARDS -- */
.line {
    display: inline-block;
    min-width: 300px;
    max-width: 380px;
    margin: 0 5px 20px 5px;
    border: 1px transparent;
    border-radius: 4px;
    background: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    overflow: hidden;
}

.line .line-header {
    display: block;
    padding: 12px 0;
    background-color: #5cb85c;
    color: #fff;
    font-size: 128px;
    font-weight: 800;
    text-align: center;
}
.line .line-header:hover {
    background-color: #449d44;
}

.line a.line-header {
    text-decoration: none;
}

.line .line-desc {
    font-size: 30px;
    padding: 20px 10px;
    text-align: center;
    border-bottom: 5px solid #5cb85c;
}

.line .line-desc small {
    display: block;
    font-size: 18px;
    color: #828282;
}

/* -- ROUTE -- */
ul.route {
    position: relative;
    display: block;
    border: 1px transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    padding: 0;
    list-style: none;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 10px 25px 10px;
}

ul.route:after {
    position: absolute;
    top: -45px;
    left: 38px;
    display: block;
    height: 100%;
    content: "";
    width: 4px;
    background-color: #337ab7;
    z-index: 50;
}

 ul.route li.route-header {
     position: relative;
     padding: 10px 20px;
     background-color: #337ab7;
     color: #fff;
     font-size: 50px;
     font-weight: 800;
     text-align: center;
     list-style: none;
     z-index: 70;
 }

ul.route li.station {
    position: relative;
    border-bottom: 1px solid #dddddd;
}

ul.route li.station:last-child {
    border-bottom: 5px solid #337ab7;
}

ul.route li.station>a {
    position: relative;
    display: block;
    padding: 20px 50px 20px 80px;
    text-decoration: none;
    font-size: 32px;
    font-weight: 100;
}

ul.route li.station>a:after {
    position: absolute;
    top:50%;
    margin-top: -10px;
    left:30px;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #337ab7;
    z-index: 100;
}

ul.route li.station a:hover {
    background: #f3f3f3;
}


/* -- STATION DEPARTURES -- */
.timetable {
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
    padding: 0;
    margin:0;
}

.timetable .timetable-header {
    padding: 15px 20px;
    background-color: #d9534f;
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 55px;
}

.timetable .timetable-header > small {
    display: block;
    font-size: 25px;
    font-weight: 100;
}

.timetable .timetable-header > small strong {
    font-weight: 400;
}

.timetable .schedule {
    margin-bottom: 85px;
}

.timetable .schedule:last-child {
    margin-bottom: 0;
}

.timetable .schedule .schedule-header {
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    line-height: 42px;
}

.timetable .schedule .schedule-header > small {
    display: block;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}

.timetable .schedule table.schedule-table {
    width: 100%;
    font-size: 27px;
    table-layout:fixed;
}

.timetable .schedule table.schedule-table td {
    text-align: center;
    border:1px solid #dddddd;
}

.timetable .schedule table.schedule-table tr:first-child td {
    background: #f3f3f3;
}

.timetable .schedule table.schedule-table tr td:first-child {
    border-left: 0;
}
.timetable .schedule table.schedule-table tr td:last-child {
    border-right: 0;
}

.timetable .schedule:last-child table.schedule-table tr td {
    border-bottom: 0;
}

.timetable .schedule table.schedule-table tr.hours td {
    font-size: 35px;
    font-weight: 800;
}

.timetable .schedule table.schedule-table tr.minutes td {
    vertical-align: top;
}

.timetable .schedule table.schedule-table tr.minutes td span {
    display: block;
    padding: 5px 0;
}

.timetable .schedule table.schedule-table tr.minutes td span:hover {
    background: #f6f6f6;
}



    /* -- FOOTER -- */
.footer [class^="col-"] {
    padding: 10px 0;
}
.footer {
    margin: 10px;
}

.socialedge-logo {
    text-decoration: none !important;
    display: block;
}

.socialedge-logo img {
    margin-left: 5px;
    height: 30px;
    vertical-align: middle;
}


/* -- ETC -- */
ul.list-inline-flexible {
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    list-style: none none;
    margin: 0;
    padding: 0;
}

ul.list-inline-flexible>li {
    flex-grow: 1;
    flex-basis: auto;
    padding: 0;
    margin: 0;
}

.jumbotron-clear {
    background: 0;
    text-align: center;
}

body .page-header:first-child,
body .page-header:first-child h1 {
    margin-top: 0;
}

.page-header {
    border-bottom-color: #dddddd;
}

.thin {
    font-weight: 100;
}

.spacer {
    display: block;
    height:70px;
}

p.indent {
    text-indent: 50px;
}