<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="page-header" id="about">
            <h1>Про ініціятиву</h1>
        </div>
        <p class="indent">Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.</p>
        <p class="indent">Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.</p>
        <p class="indent">Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.Пропонуємо вашій увазі концепт розкладу руху громадського траспорту у м. Суми за европейським зразком.</p>
    </div>
</div>