<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="page-header" id="trolley">
            <h1>Тролейбуси</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <ul class="list-inline-flexible">
            <li class="text-center" ng-repeat="line in lines.trolleys">
                <div class="line">
                    <a ng-href="#/routes/{{line.codeId}}" class="line-header">{{line.codeId}}</a>
                    <div class="line-desc">
                        <div ng-repeat-start="route in line.routes" ng-if="$first" ng-init="waypoints = route.waypoints">
                            <span title="Шифр напрямку: {{route.codeId}}">
                                {{waypoints[0].station.name}} &rarr; {{waypoints[waypoints.length - 1].station.name}}
                            </span>
                        </div>
                        <div ng-repeat-end ng-if="!$first" ng-init="waypoints = route.waypoints">
                            <small title="Шифр напрямку: {{route.codeId}}">
                                {{waypoints[0].station.name}} &rarr; {{waypoints[waypoints.length - 1].station.name}}
                            </small>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<span class="spacer"></span>

<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="page-header" id="bus">
            <h1>Автобуси</h1>
        </div>
        <img class="center-block" src="img/comingsoon.png" style="width: 300px; margin-top: 70px">
    </div>
</div>