<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="page-header" id="trolley">
            <h1>Тролейбусна лінія №5</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <ul class="list-inline-flexible">
            <li>
                <ul class="route">
                    <li class="route-header">
                        Route #15B-X1
                    </li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                </ul>
            </li>
            <li>
                <ul class="route">
                    <li class="route-header">
                        Route #15B-X1
                    </li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                </ul>
            </li>
            <li>
                <ul class="route">
                    <li class="route-header">
                        Route #15B-X1
                    </li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                    <li class="station"><a ng-href="#/station">Station 1</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>