<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
    <div class="page-header" id="trolley">
      <h1>Тролейбусна лінія №5</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
    <div class="timetable">
      <div class="timetable-header">
        Route #15B-X1
        <small><strong>Палац культури СМНВО</strong></small>
        <small><strong>Напрямок: </strong>Пансіонат для ветеранів → 12-й мікрорайон</small>
      </div>
      <div class="schedule">
        <div class="schedule-header">
          Робочі дні
          <small>години і хвилини від’їздів від цієї зупинки</small>
        </div>
        <table class="schedule-table">
          <tr class="hours">
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>14</td>
            <td>17</td>
          </tr>
          <tr class="minutes">
            <td><span>:25</span><span>:28</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
          </tr>
        </table>
      </div>

      <div class="schedule">
        <div class="schedule-header">
          Вихідні дні
          <small>години і хвилини від’їздів від цієї зупинки</small>
        </div>
        <table class="schedule-table">
          <tr class="hours">
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>14</td>
            <td>17</td>
          </tr>
          <tr class="minutes">
            <td><span>:25</span><span>:28</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
            <td><span>:25</span><span>:28</span><span>:55</span></td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>